<?xml version="1.0" encoding="utf-8"?><manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.github.rudda.ethgastracker">
<uses-permission android:name="android.permission.INTERNET"></uses-permission>
<!--    <uses-permission android:name="android.permission.WAKE_LOCK" />-->
<application
    android:allowBackup="true"
    android:name=".Application"
    android:icon="@mipmap/ic_launcher_app"
    android:roundIcon="@mipmap/ic_launcher_app_round"
    android:label="@string/app_name"
    android:supportsRtl="false"
    android:theme="@style/Theme.EthGásPrice">

    <service
        android:name="com.github.rudda.ethgastracker.job.MyService"
        android:exported="true"
        android:enabled="true"></service>

    <activity
        android:name="com.github.ethgastracker.view.main.MainActivity"
        android:launchMode="singleTask"
        android:screenOrientation="portrait"
        android:exported="true">
        <nav-graph android:value="@navigation/main_navigation"></nav-graph>
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
            <action android:name="android.intent.action.VIEW" />
        </intent-filter>
    </activity>
</application>
</manifest>



